RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ReWriteRule ^$ home.php [NC,L]
RewriteRule ^secure-images/(.*)$ uploads/$1 [L]

ReWriteRule ^croptheimage([/]?)$ xcc.php [NC,L]

ReWriteRule ^signup([/]?)$ ssiignup.php [NC,L]
ReWriteRule ^login([/]?)$ lloogin.php [NC,L]
ReWriteRule ^logout([/]?)$ lloogout.php [NC,L]
ReWriteRule ^google/em/recaptcha([/]?)$ recaptcha.php [NC,L]
ReWriteRule ^verification([/]?)$ sigup-verification.php [NC,L]


#USER DASHBOARD
ReWriteRule ^u/account/dashboard([/]?)$ account/dashboard/home_.php [NC,L]
ReWriteRule ^api/user/checkContact([/]?)$ account/dashboard/checkup.php [NC,L]

#POST AD
ReWriteRule ^insert-ad([/]?)$ account/dashboard/post-ad/xv.php [NC,L]
ReWriteRule ^u/post-insert([/]?)$ account/dashboard/post-ad/post-insert.php [NC,L]
ReWriteRule ^u/post-insert-image/([0-9a-z\-]+)([/]?)$ account/dashboard/post-ad/post-insert-image.php?post_id=$1 [NC,L]
ReWriteRule ^u/post-promote/([0-9a-z\-]+)([/]?)$ account/dashboard/post-ad/post-insert-visibility.php?post_id=$1 [NC,L]
ReWriteRule ^u/post-finish/([0-9a-z\-]+)([/]?)$ account/dashboard/post-ad/post-finish.php?post_id=$1 [NC,L]
ReWriteRule ^u/post-manager/([0-9a-z\-]+)([/]?)$ account/dashboard/post-ad/post-manager.php?post_id=$1 [NC,L]
ReWriteRule ^u/activity-center([/]?)$ account/activity-center.php [NC,L]
ReWriteRule ^u/account/tokens([/]?)$ account/buy-tokens.php [NC,L]
ReWriteRule ^u/order-checkout/([0-9a-z\-]+)([/]?)$ account/order-checkout.php?post_id=$1 [NC,L]
#https://www.skokka.in/u/order-checkout/6622691bef2e2620478efcbe/?renew=1

#EDIT ADs
ReWriteRule ^u/post-update/([0-9a-z\-]+)([/]?)$ account/dashboard/post-ad/post-update.php?post_id=$1 [NC,L]

#SHOW ALL USERS AD
ReWriteRule ^u/account/ads([/]?)$ account/dashboard/user-ads/user-active-ads.php [NC,L]
ReWriteRule ^u/account/edit-profile/([/]?)$ account/edit-profile.php [NC,L]


RewriteRule ^image-upload([/]?)$ image_processing/image-upload.php [NC,L]
RewriteRule ^show-image([/]?)$ image_processing/showing-image.php [NC,L]
RewriteRule ^delete-image([/]?)$ image_processing/delete-image.php [NC,L]


#SHOW AD

ReWriteRule ^ad/([0-9a-z_\-]+)([/]?)$ view-profile.php [NC,L]

ReWriteRule ^call-girls([/]?)$ call-girls-only.php [NC,L]

RewriteRule ^get_plan_det([/]?)$ az.php [NC,L]
RewriteRule ^schedule-time-for-ad([/]?)$ schedule-time_for_ad.php [NC,L]


ReWriteRule ^([0-9a-z\-]+)([/]?)$ call-girls-index.php?cat=$1 [NC,L]
ReWriteRule ^([0-9a-z\-]+)/([0-9a-z\-]+)([/]?)$ call-girls-index.php?cat=$1&cty=$2 [NC,L]

#ReWriteRule ^contact-us([/]?)$ contact-us.php [NC,L]
#ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ profile_index.php?state=$1&city=$2&id=$3 [NC,L]



#RewriteRule ^call-girl-in-delhi/?$ /call-girls/delhi/ [R=301,L]