/* FOOTER */
footer{
    padding: 3%;
}
footer a{color: var(--heading-color);}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
footer ul li{
    padding: .5% 1%;
}
footer ul li{
    border-right: 1px solid var(--heading-color);
}
footer ul li:last-child{
    border-right: 0;
}
.footer-follow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-follow ul{
    gap: 5%;
}
.footer-follow ul li{border: 0;font-size: 2rem;}
.footer-follow ul li i{color: var(--light-white);
    padding: 1% 2%;}
a[aria-label="youtube"]{
    background-color: red;
    border-radius: 5px;
}
a[aria-label="instagram"],a[aria-label="facebook"],a[aria-label="twitter"]{
    background-color: var(--primary-color);
    border-radius: 5px;
}
.rta{
    width: 150px;
}

/* FOOTER */

.next-step{
    width: 50%;
    height: 50px;
    border-radius: 100px;
    background-color: #DC006C;
    color: white;
    justify-self: end;
    border: 0;
    font-size: 1rem;
    margin: .5% 0;
    cursor: pointer;
}
.need-help-icon i{font-size: 2rem;}
.need-help{
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid lightgrey;
    border-radius: 2.5px;
    height: 120px;
    display: flex;
    gap: 3%;
}
.need-help-content{display: grid;height: 100%;}
.need-help-content .need-help-button{
    margin-top: 4%;
    display: flex;
    align-items: center;
    gap: 5%;
}
.need-help-button i{font-size: 1.25rem;}

.private-area-background{
   width: 100%;
   height: 100%;
   position: fixed;
   inset: 0;
    display: none;
    /* align-items: self-start;
    justify-content: center; */
    background-color: rgba(0, 0, 0, 0.608);
}
.private-area{
    width: 40%;
    height: 70%;
    background-color: white;
    border-radius: 5px;    
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.private_animation{
    -webkit-animation: slidedown .4s ease-in-out;
    animation: slidedown .4s ease-in-out;
}
@-webkit-keyframes slidedown {
    0% {top: 40%;}
    100% {top: 50%!important;}
}
@keyframes slidedown {
    0% {top: 40%;}
    100% {top: 50%!important;}
}

.private-area-heading{
    width: 100%;
    height: 15%;
    padding: 0 3%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.private-area-heading strong{
    font-size: 1.6rem;
}
.private-area-heading > div{
    font-weight: bold;
    cursor: pointer;
}
.private-area-body{
    width: 100%;
    height: 85%;
    padding: 3%;
    display: block;
}
.private-area-subheading{
    width: 100%;
    height: 10%;
    text-align: center;
}
.private-area-logout{
    width: 100%;
    height: 20%;
}
.private-area-action{
    width: 100%;
    height: 70%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, max(150px));
    /* grid-auto-rows: 75px; */
    grid-template-rows: auto;
}
.private-area-items{
    width: auto;
    height: 75px;
    border-radius: 5px;
    /* border: 1px solid grey; */
    margin: 3% 2%;
    display: grid;
    place-items: center;
    padding: 1%;
    box-shadow:0 0 6px 3px lightgrey;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.private-area-logout button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    background-color: var(--header-color);
    color: white;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

@media (min-width:320px) and (max-width:530px) {
    .private-area{width: 100%;height: 95%;}
    .private-area-action{grid-template-columns: repeat(2, max(150px));

    }
}
@media (min-width:530px) and (max-width:1200px) {
    .private-area{width: fit-content;min-height: 70%;}
    .private-area-body{padding: 10px;}
    .private-area-action{grid-template-columns: repeat(3, max(150px));

    }
}
