

.form-progress-bar {
    height: auto;
    display: flex;
    align-items: center;
    margin: 3% auto;
}

.form-progress {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

/* .form-progress:nth-child(even){
    background-color: green;
} */
.progress-bar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: grey;
    justify-self: center;
}

.progress-bar i {
    color: white;
}

.progress-bar::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: grey;
}

.progress-bar.active-progress~strong {
    color: #DC006C;
}

.active-progress {
    background-color: #DC006C;
}

.active-progress::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3 px;
    background-color: #DC006C;
}

.top-form-field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    justify-content: space-between;
}

.top-form-field strong {
    font-size: 1.5rem;
}

form .container {
    margin-top: 4%;
}

.form-container {
    width: 100%;
    height: auto;
    padding: 1.25%;
    border: 1.5px solid lightgrey;
    border-radius: 10px;
}

.form-group {
    font-weight: 600;
    margin: 2% 0;
}

input,
select {
    margin: 1% 0;
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: 0;
    padding: 1%;

}

/* label{height: fit-content;} */
label div {
    width: fit-content;
    padding: 0 15px;
    margin: 3% 0;
    line-height: 40px;
    height: 40px;
    font-size: .9rem!important;
    border-radius: 5px;
    border: .5px solid lightgrey;
    cursor: pointer;
    position: relative;
    cursor: pointer;

}

.label {
    width: fit-content;
    height: 100%;
    background-color: #0061b03b;
    border-radius: 5px;
    position: relative;
    border: 1px solid dodgerblue;
}

.label::after {
    width: max-content;
    height: 100%;
    content: 'x';
    position: absolute;
    font-weight: bold;
    display: grid;
    align-items: center;
    padding: 0 3%;
    top: 0;
}

input[name="african"] {
    display: none;
}

input[name="boobs"] {
    display: none;
}

input[name="hair"] {
    display: none;
}

input[name="body-type"] {
    display: none;
}

input[name="contact"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}


textarea {
    margin: 1% 0;
    width: 100%;
    resize: vertical;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: 0;
    padding: 1%;
}

::placeholder {
    color: lightgrey;
    font-size: 1rem;
}

.form-flex {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1% 0;
    gap: 2%;
}

.form-flex span {
    width: 100%;
}

label.contact {
    flex: 1;
}

label.contact>div {
    width: 100%;
}

.form-flex2 {
    width: 100%;
    display: flex;
    margin: 1% 0;
    font-size: small;
}

.form-flex2 strong {
    width: 7%;
}

.form-flex2 p {
    margin: 0;
    padding: 0;
    text-align: start;
}


.preview-drap-or-selected-image {
    display: flex;
    gap: 1%;
    width: 95%;
    margin: auto;
    height: 250px;
}

.drag-and-drop-profile-photo {
    width: 100%;
    height: 100%;
    border: 2px dashed var(--header-color);
    border-radius: 5px;
    display: grid;
    place-items: center;
    color: lightgray;
    text-align: center;
    user-select: none;
    background-color: rgba(198, 245, 255, 0.259);
}

.drag-and-drop-profile-photo i {
    font-size: 3rem;
}

.information-about-profile-image {
    font-size: x-small;
    text-align: center;
    margin: 1% auto;
    width: 100%;
    display: block;
}

.Only-one-picture-visible-for-free-add {
    width: 100%;
    height: 10px;
    display: block;
    background-color: lightblue;
    border-radius: 5px;
    line-height: 3.5px;
    padding: 2%;
}

#draged-or-selected-profile-photo {
    display: none;
}

.preview-image-box {
    min-width: 150px;
    max-width: 250px;
    height: 100%;
    display: block;
    border-radius: 3px;
    overflow: hidden;
}

.preview-tag {
    width: 100%;
    height: 15%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.preview-image {
    width: 100%;
    height: 70%;
    background-color: grey;
    display: block;
}

.edit-preview-img {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
}

.edit-preview-img>div {
    cursor: pointer;
}

.edit-preview-img div:last-child {
    color: tomato;
}

.edit-preview-img div:first-child {
    color: dodgerblue;
}

.resized-drop-are {
    min-width: 150px;
    max-width: 250px;
    height: 100%;
}

.book-ad-time-slot {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    grid-auto-rows: 200px;
    /* grid-template-rows: auto; */
}

.time-slot {
    width: auto;
    height: auto;
    border: 1px solid rgb(214, 214, 214);
    margin:2%;
    padding: 2%;
    border-radius: 5px;
    display: grid;
    align-items:center;
}
.time-slot .form-flex{
    align-self:baseline;
}
.form-flex div:first-child{
    font-size: 1.7rem;
    color: grey;
    align-self: flex-start;
}
.color-top-up-image{
    font-size: 1.5rem;
    color: #0060B0;
    font-weight: bold;
}
.color-top-up-image i{transform: rotate(-90deg)!important;}
.show-super-top-ad-example{
    font-size: small;
    color: #DC006C;
    margin: 2% 0;
}

.super-top-learn-more{
    width: 100%;
    height: auto;
    padding: 1% 2%;
    margin: 2% 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-image: linear-gradient(to right,#dc006a53 ,#0061b051);
    font-size: small;
}
.super-top-learn-more p{margin:.5% 0;}
.time-slot .form-flex p{margin: 0;font-size: smaller;}
.time-slot .form-group{
    align-self: flex-end;
    padding: 0 1% ;
    color: var(--header-color);
}
:is(.time-slot:nth-child(4), .time-slot:nth-child(5)) .form-group small{
    color: grey;
}
:is(.time-slot:nth-child(4), .time-slot:nth-child(5)) .form-group label{
    color: var(--primary-color);
}

.flex-container {
    display: flex;
    gap: 2%;
}

.flex-container .form-container:first-child {
    width: 65%;
}

.flex-container .form-container:last-child {
    width: 35%;
    height: fit-content;
    display: block;
}






/* TOGGLE BUTTON */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.7em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: rgb(170, 170, 170);
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    right: 0.3em;
    bottom: 0.15em;
    transform: translateX(150%);
    background-color: #2c6900;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.slider:after {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    left: 0.3em;
    bottom: 0.15em;
    background-color: #cccccc;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #358000;
}

.switch input:checked+.slider:before {
    transform: translateY(0);
}

.switch input:checked+.slider::after {
    transform: translateX(-150%);
}

/* TOGGLE BUTTON */